[access "refs/*"]
	owner = group user/Terrence Miao (TerrenceMiao)
[access "refs/for/refs/*"]
	read = group user/Terrence Miao (TerrenceMiao)
	push = group user/Terrence Miao (TerrenceMiao)
	label-Code-Review = -2..+2 group user/Terrence Miao (TerrenceMiao)
	label-Verified = -1..+1 group user/Terrence Miao (TerrenceMiao)
	rebase = group user/Terrence Miao (TerrenceMiao)
	removeReviewer = group user/Terrence Miao (TerrenceMiao)
	submit = group user/Terrence Miao (TerrenceMiao)
[access "refs/heads/*"]
	read = group user/Terrence Miao (TerrenceMiao)
	create = group user/Terrence Miao (TerrenceMiao)
	push = +force group user/Terrence Miao (TerrenceMiao)
	pushMerge = group user/Terrence Miao (TerrenceMiao)
[access "refs/tags/*"]
	push = +force group user/Terrence Miao (TerrenceMiao)
	pushTag = group user/Terrence Miao (TerrenceMiao)
	pushSignedTag = group user/Terrence Miao (TerrenceMiao)
