<component name="ArtifactManager">
  <artifact type="war" name="SpringREST-Dust.js:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVC.war">
      <element id="artifact" artifact-name="SpringREST-Dust.js:war exploded" />
    </root>
  </artifact>
</component>